@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --width: 400px;
  --height: 300px;
  --alert-height: 100px;
  --alert-border: 7px;
  --text-color: rgb(255, 255, 255);
  --back-color: rgb(6, 0, 37);
  --slide-duration: 3s;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
  position: absolute;
  top: 100px;
  border: none;
  margin: none;
  padding: none;
  
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.camborder-container {
  height: var(--height);
  width: var(--width);
  z-index: 0;
}

.camborder-img-container {
  overflow: hidden;
  height: var(--height);
  width: var(--width);
  background-color: rgb(182, 238, 255);

  z-index: 1;
}

.camborder-img {
  height: calc(var(--height) * 3);
  width: calc(var(--width) * 3);
  background-image: url("../images/background2.png");
  background-position: center;
  background-repeat: repeat;
  animation: 7s linear infinite slide-diagonal-cont;
  background-color: rgb(182, 238, 255);
}

.alert-container {
  overflow: hidden;
  width: var(--width);
  height: var(--alert-height);
  margin: none;
  position: absolute;
  top: 0px;
  
  transform: translate(0, 0);
  z-index: -1;
}

.alert-message-container {
  width: calc(100% - (var(--alert-border) * 2));
  height: calc(100% - (var(--alert-border) * 2));
  position: absolute;
  bottom: var(--alert-border);
  margin-left: var(--alert-border);
  color: var(--text-color);
  background-color: var(--back-color);
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-down {
  animation: ease-in-out slide-down;
  animation-duration: var(--slide-duration);
}

.slide-up {
  animation: ease-in-out slide-up;
  animation-duration: var(--slide-duration);
}

@keyframes slide-down {
  0% {
    transform: translate(0, 0px);
  }
  10% {
    transform: translate(0, 100%);
  }
  90% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes slide-up {
  0% {
    transform: translate(0, 0px);
  }
  10% {
    transform: translate(0, -100%);
  }
  90% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes slide-diagonal-cont {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-500px, -400px);
  }
}